services:
  api:
    build: .
    ports:
      - "8000:80"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - DB_HOST=db
    depends_on:
      db:
        condition: service_healthy
        
    env_file:
      - .env.docker
    command: uvicorn main:app --host 0.0.0.0 --port 80 --reload

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Yony01Uk
      - POSTGRES_DB=mydb_test
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydb_test"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  postgres_data: